.nav , .sub {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav li{
    background: red;
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.nav li a{
    display: block;
    text-decoration: none;
    color: black;
}
.nav > li{
    float: left;
    border-right: 1px solid brown;
}
.nav li a:hover{
    background: brown;
}
.sub{
    display: none;
}
.nav > li:hover .sub{
    display: block; 
}
.sub > li {
    border-top: 1px solid brown;
}